@define-color bar-bg rgba(0, 0, 0, 0);
/* Keep transparent */
@define-color main-bg #282828;
/* dark0 */
@define-color main-fg #ebdbb2;
/* light1 */
@define-color wb-act-bg #83a598;
/* bright_blue */
@define-color wb-act-fg #8ec07c;
/* bright_aqua */
@define-color wb-hvr-bg #fb4934;
/* bright_red */
@define-color wb-hvr-fg #fabd2f;
/* bright_yellow */

* {
  border: none;
  border-radius: 0px;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 15px;
  min-height: 13px;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0);
}

#battery,
#temperature,
#clock,
#mpris,
#workspaces,
#custom-rofi,
#tray,
#pulseaudio,
#backlight,
#network,
#custom-right,
#custom-left {
  color: #d5c4a1;
  /* light2 for better visibility */
  background: #1d2021;
  /* dark0_hard for a darker background */
  margin: 4px 0;
  opacity: 1;
  border: 0 solid #1d2021;
  /* dark0_hard */
}

tooltip {
  background: #282828;
  /* dark0 */
  color: #ebdbb2;
  /* light1 */
  border-radius: 22px;
  border-width: 2px;
  border-style: solid;
  border-color: #3c3836;
  /* dark1 */
}

#workspaces button {
  box-shadow: none;
  background: #282828;
  text-shadow: none;
  padding: 0;
  border-radius: 9px;
  margin-top: 3px;
  margin-bottom: 3px;
  padding-left: 5px;
  padding-right: 6px;
  margin-left: 6px;
  margin-right: 3px;
  color: #7c6f64;
  /* dark4 */
}

#workspaces button.active {
  background: #3c3836;
  /* dark4 */
  color: #c4a7e7;
  /* light3 */
}

#workspaces button:hover {
  background: #3c3836;
  /* dark1 */
  border: none;
}

#workspaces {
  padding: 0;
}

#custom-rofi {
  color: #fb4934;
  /* bright_red */
  padding-left: 0;
  padding-right: 10px;
}

#temperature {
  color: #8ec07c;
  /* bright_aqua */
  padding-left: 0;
  padding-right: 19px;
}

#temperature.critical {
  color: #fb4934;
  /* bright_red */
  padding-left: 0;
  padding-right: 19px;
}

#backlight {
  color: #fabd2f;
  /* bright_yellow */
  padding-left: 0;
  padding-right: 19px;
}

#pulseaudio {
  color: #c4a7e7;
  /* light3 */
  padding-left: 0;
  padding-right: 19px;
}

#battery {
  color: #83a598;
  /* bright_blue */
  padding-left: 0;
  padding-right: 0;
}

#tray {
  padding-left: 0;
  padding-right: 19px;
}

#network {
  padding-left: 0;
  padding-right: 19px;
}

#clock {
  color: #fb4934;
  /* bright_red */
  padding-left: 0;
  padding-right: 0;
}

#mpris {
  color: #d3869b;
  padding-left: 0;
  padding-right: 19px;
}

#custom-right {
  margin-right: 9px;
  padding-right: 3px;
  border-radius: 0 22px 22px 0;
}

#custom-left {
  margin-left: 9px;
  padding-left: 3px;
  border-radius: 22px 0 0 22px;
}
